body{
    background-color:Aqua ;
}
h1{
text-align:center;
}
u{
    color:Fuchsia;
}
u {
    font-size: 30px;
}
img{
width:300px;
float:right;
}
img{
    
}
ul, ol, U ,p {
font-family: 'Charmonman', cursive;
}
